.expenses-wrapper {
    .create-category {
        text-decoration: none;
        font-size: 14px;
        color: #089752 !important;
        margin-right: 30px;
    }
    .btn-add {
        width: 119px;
        height: 34px;
        color: #ffffff;
        background: #089752 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        margin-right: 30px;
        font-size: 14px;
    }
    .btn-category {
        width: 89px;
        height: 34px;
        background: #ffffff 0% 0% no-repeat padding-box;
        color: #000000;
        border: none;
        a {
            text-decoration: none;
            color: #000000 !important;
            font-size: 14px;
        }
    }
    .btn-category:active {
        color: #000000;
        border: 1px solid #b5b5b5;
    }
    .btn-category:focus {
        color: #000000;
        border: 1px solid #b5b5b5;
    }

  
}
.expenses-details-wrapper{

    h6{
        color: #2F2F75;
    }
    a{
        text-decoration: none;
    }
}
.payment-recipt-wrapper{
    a {
        color: #2f2f75 !important;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }
    .primary-card-rounded {
        padding: 30px 70px 40px 30px;
    }
    .img-holder {
        background-color: grey;
        width: 188px;
        height: 158px;
    }
    .details-cell {
        p {
            color: #b8b8b8;
            font-size: 12px;
            margin: 0;
            margin-bottom: 6px;
        }
        h6 {
            color: #15152e;
            font-size: 16px;
            margin: 0;
        }
    }
}