@mixin FlexBetweenCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin BGImageCenterCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
