body {
    font-family: "poppins", san-serif !important;
    background-color: #f8f8f8 !important;
}

.f-9 {
    font-size: 9px !important;
}
.f-10 {
    font-size: 10px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-15 {
    font-size: 15px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-22 {
    font-size: 22px !important;
}
// =========================================================
//                          Font Weight
// =========================================================

// light
.fw-300 {
    font-weight: 300 !important;
}

// regular
.fw-400 {
    font-weight: 400 !important;
}

// medium
.fw-500 {
    font-weight: 500 !important;
}
// semi-bold
.fw-600 {
    font-weight: 600 !important;
}

// bold
.fw-700 {
    font-weight: 700 !important;
}
// extra-bold
.fw-800 {
    font-weight: 800 !important;
}

// =========================================================
//                          Margins/Paddings
// =========================================================

.mb-5-px {
    margin-bottom: 5px !important;
}
.mb-7 {
    margin-bottom: 7px !important;
}
.mr-8 {
    margin-right: 8px !important;
}
.mr-9 {
    margin-right: 9px !important;
}

.ml-10 {
    margin-left: 10px !important;
}
.mr-13 {
    margin-right: 13px !important;
}
.mr-14 {
    margin-right: 14px !important;
}
.mr-16 {
    margin-right: 16px !important;
}
.mb-18 {
    margin-bottom: 18px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mr-30 {
    margin-right: 30px !important;
}

// =========================================================
//                          Color
// =========================================================

.color-danger {
    color: #fb1139 !important;
}
.color-success {
    color: #089752 !important;
}
.color-warning {
    color: #ef932a !important;
}
.color-info {
    color: #1a7fe4 !important;
}
.color-denim {
    color: #1a60ec !important;
}
.color-gray {
    color: #8e8e8e !important;
}
.color-mid-gray {
    color: #686874 !important;
}
.color-jumbo {
    color: #8a8a91 !important;
}
.color-primary {
    color: #089752 !important;
}
.color-secondary {
    color: #343379 !important;
}
.color-persian-blue {
    color: #2422b4 !important;
}
.color-abbey {
    color: #4f4f58 !important;
}

.w-27 {
    min-width: 27px !important;
}
