.text-nowrap {
    white-space: nowrap !important;
}
.align-middle {
    vertical-align: middle !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}

.flex-1 {
    flex: 1 !important;
}
.w-max-content {
    width: max-content;
}
